div {
    box-sizing: border-box;
}

.clearfix:after {
    content: " ";
    clear: both;
}

.float-left {
    float: left;
}

#containerMain {
    width: 960px;
    height: 500px;
    background-image: url("messy_wires.gif");
    background-repeat: no-repeat;
    background-position: center;
}

#banner {
    width: 100%;
    height: 20%;
    margin: auto;
    background-color: red;
    background-image: url("game_banner.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-top: 5px black solid;
    border-bottom: 5px black solid;
}

#containerText {
    float: left;
    width: 50%;
    height: 80%;
    color: #33FF33;
    background-image: url("PCB_4.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 10%;
    padding-top: 11%;
    padding-left: 11%;
}

#containerGraphics {
    float: right;
    width: 50%;
    height: 80%;
    color: #33FF33;
    background-image: url("screen_0.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95% 95%;
    padding: 6%;
}

#imgScreen {
    height: 80%;
    width: 50%;
}

#puzzle {
    width: 100%;
    height: 33%;
    text-align: center;
}

#hazardTracker {
    width: 100%;
    height: 34%;
    text-align: center;
}

#guesses {
    width: 100%;
    height: 33%;
    text-align: center;
}

#lettersGuessed,
#targetStatus {
    text-align: center;
}

#barFuel {
    width: 150px;
    height: 50px;
    color: red;
    background-color: lightgreen;
    text-align: left;
}
